<template lang="pug">
  q-page(padding)#home
    .column.text-white
      img.logo(src='statics/game-of-thrones-logo.png')
      h4.text-center.title.no-margin.text-bold {{ $t('challenge') }}
      .text-subtitle1.text-center.q-px-md.text-bold {{ $t('canYouGuess') }}
    Stats
    RandomQuote.q-py-xl
</template>

<script>
import { mapActions } from 'vuex';
import RandomQuote from 'src/components/RandomQuote.vue';

export default {
  components: {
    Stats: () => import('src/components/Stats'),
    RandomQuote,
  },

  methods: {
    ...mapActions('stats', [
      'getStats',
    ]),
  },

  async beforeMount() {
    try {
      await this.getStats();
    } catch (error) {
      this.$log.error(error);
    } finally {
      this.$q.loading.hide();
    }
  },
};
</script>

<style lang="stylus" scoped>
@import '~quasar-variables'

#home
  background $background
.title {
  font-weight: 400;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  max-width 350px
  min-width 300px
  height: auto;
}
</style>
