<template lang="pug">
q-page.column.items-center.justify-around.home.relative-position
  div().column.items-center.justify-around
    div(v-if="showCards").column.justify-around
      .card-container.relative-position
        card(v-for='(card, index) in cards.data'
            :key='index'
            :current='index === cards.index'
            :fullname='card.name'
            :picture='card.photoUrl'
            :approved='card.isAlive'
            @draggedthreshold='makeBet')
      .actions.row.items-center.full-width
        .column.items-center
          q-btn(round
                size='xl'
                color='white'
                text-color='blue'
                icon='fas fa-snowflake'
                @click='makeBet(false)')
          span.q-pt-sm {{ $t('dead') }}
        .column.items-center
          q-btn(round
                size='xl'
                color='white'
                text-color='red'
                icon='fas fa-fire'
                @click='makeBet(true)')
          span.q-pt-sm {{ $t('alive') }}
    div(v-else-if="showQuestions")
      .row.flex.justify-center
        .col-xs-12.col-md-8.flex.justify-center
          q-card.q-ma-md.q-py-md(style='width: 80vw')
            q-card-section(
              style='color: red'
            )
              .text-h6.text-bold {{ questions[0].question }}
            q-card-section
              .row
                .col-12.flex.justify-center
                  q-select(
                    filled
                    v-model='currentValue'
                    use-input
                    input-debounce='0'
                    clearable
                    :options='options'
                    @filter='filterFn'
                    style='min-width: 80%'
                  )
            q-card-actions.text-primary(align='right')
              q-btn(
                color="blue"
                size="lg"
                :label="$t('next')"
                @click='nextQuestion'
                :loading="sendingAnswer"
              )
    div(v-else)
      Ranking
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'PageIndex',
  components: {
    Card: () => import('src/components/Card'),
    Ranking: () => import('src/components/Ranking'),
  },
  data() {
    return {
      questions: [
        {
          question: this.$t('kill_cersei'),
          field: 'whoWillKillCersei',
        },
        {
          question: this.$t('king'),
          field: 'whoWillBeKing',
        },
      ],
      cards: {
        data: [],
        index: 0,
      },
      currentValue: '',
      options: [],
      sendingAnswer: false,
    };
  },
  computed: {
    ...mapGetters('character', ['characters']),
    ...mapGetters('bet', [
      'bet',
      'betCharacters',
    ]),

    user() {
      return this.$firebase.auth().currentUser;
    },
    showQuestions() {
      return Boolean(this.questions.length);
    },
    showCards() {
      return Boolean(this.cards.data.filter(c => c.isAlive === null).length);
    },

    allOptions() {
      const data = this.characters
        .map(char => ({ label: char.name, value: char.id }));
      data.push({ label: this.$t('none_selection'), value: 'none' });
      return data;
    },
  },

  mounted() {
    this.$q.loading.hide();
  },

  methods: {
    ...mapActions('bet', [
      'createCharacterBet',
      'createAnswerBet',
    ]),

    async nextQuestion() {
      const payload = {};
      payload[this.questions[0].field] = this.currentValue.value;
      this.sendingAnswer = true;
      try {
        await this.createAnswerBet(payload);
        this.questions.shift();
        this.currentValue = '';
      } catch (err) {
        this.$log.error(err);
        this.$q.notify('Something happens, try again');
      } finally {
        this.sendingAnswer = false;
      }
    },
    filterFn(val, update) {
      if (val === '') {
        update(() => {
          this.options = this.allOptions;
        });
        return;
      }
      update(() => {
        const needle = val.toLowerCase();
        this.options = this.allOptions.filter(v => v.label.toLowerCase().indexOf(needle) > -1);
      });
    },
    async makeBet(isAlive) {
      /*
        Change approval value for current card, and request new data
        if at the end of the card array
      */
      try {
        const { cards } = this;
        const char = cards.data[cards.index];
        char.isAlive = isAlive;
        cards.index += 1;
        await this.createCharacterBet({
          id: char.id,
          isAlive,
        });
      } catch (err) {
        this.$log.error(err);
        this.$q.notify('Something happens, try again');
      }
    },

    mapCards() {
      this.characters
        .filter(char => char.isAlive)
        .map(character => (
          this.cards.data.push(Object.assign({}, character, { isAlive: null }))
        ));
    },

    setRemainingCharacters() {
      this.betCharacters.forEach((char) => {
        const index = this.cards.data.map(c => c.id).indexOf(char.id);
        this.cards.data.splice(index, 1);
      });
    },

    cleanQuestions() {
      const {
        whoWillBeKing, whoWillKillCersei,
      } = this.bet;
      if (whoWillBeKing) {
        const index = this.questions.map(q => q.field).indexOf('whoWillBeKing');
        this.questions.splice(index, 1);
      }
      if (whoWillKillCersei) {
        const index = this.questions.map(q => q.field).indexOf('whoWillKillCersei');
        this.questions.splice(index, 1);
      }
    },
  },

  async beforeMount() {
    this.mapCards();
    this.setRemainingCharacters();
    this.cleanQuestions();
  },
};
</script>

<style lang='stylus' scoped>
@import '~quasar-variables';
$cardsTotal = 3
$cardsWidth = 300px
$cardsHeight = 400px
$cardsPositionOffset = 10px

.home
  background $background
  color white
  .card-container
    margin: 15px auto;
    width: $cardsWidth;
    height: $cardsHeight + ($cardsPositionOffset * ($cardsTotal - 1));
  .actions
    justify-content space-evenly
</style>
