<template lang='pug'>
q-page(padding).login.column.justify-between
  .column
    img.logo(src='statics/game-of-thrones-logo.png')
    h4.text-center.title.no-margin.text-bold {{ $t('challenge') }}
  .text-subtitle1.text-center.q-px-md.text-bold {{ $t('choose_account') }}
  #firebaseui-auth-container
</template>

<script>
import * as firebaseui from 'firebaseui';

export default {
  name: 'Login',
  mounted() {
    this.initialize();
    this.$q.loading.hide();
  },
  methods: {
    initialize() {
      const uiConfig = {
        signInFlow: 'redirect',
        signInOptions: [
          {
            provider: this.$firebase.auth.GoogleAuthProvider.PROVIDER_ID,
          },
          {
            provider: this.$firebase.auth.FacebookAuthProvider.PROVIDER_ID,
          },
          // {
          //   provider: this.$firebase.auth.TwitterAuthProvider.PROVIDER_ID,
          // },
        ],
        credentialHelper: firebaseui.auth.CredentialHelper.NONE,
        tosUrl: 'https://docs.google.com/document/d/1RoviTLtu85A_0w_81R9ujNRn9WQLcvfWy-NHVuyf55s',
        privacyPolicyUrl: 'https://docs.google.com/document/d/1RoviTLtu85A_0w_81R9ujNRn9WQLcvfWy-NHVuyf55s', // eslint-disable-line
        callbacks: {
          signInSuccessWithAuthResult: () => {
            this.$router.push({ name: 'app' });
          },
          signInFailure: (err) => {
            this.$q.notify(err.message);
          },
        },
      };
      this.$authUI.start('#firebaseui-auth-container', uiConfig);
    },
  },
};
</script>

<style lang='stylus' scoped>
@import url('https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css');
@import '~quasar-variables';

.login
  background $background
  color white
.title {
  font-weight: 400;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  max-width 350px
  min-width 300px
  height: auto;
}
</style>

<style lang="stylus">
.firebaseui-tospp-full-message
  color white
</style>
