<template lang="pug">
q-page(padding).column.justify-start.profile
  div.column.items-center
    img(:src="user.photoURL").img
    span.q-my-sm.text-bold {{ user.displayName }}
    span.q-my-sm {{ $t('points') }}: {{ bet.points || '--' }}
    span.q-my-sm {{ $t('rankingPosition') }}: {{ bet.position || '--' }}
  .answers
    .column.flex.flex-center.q-mt-lg(v-if="whoIsAzorAhai")
      .text-subtitle1.text-bold.text-center.wrap {{ $t('azor_ahai') }}
      LoadImage(:url="whoIsAzorAhai.photoUrl").img.q-mb-md
      span {{ whoIsAzorAhai.name || $t('none_selection') }}
    .column.flex.flex-center.q-mt-lg(v-if="whoIsNissaNissa")
      .text-subtitle1.text-bold.text-center {{ $t('nissa_nissa') }}
      LoadImage(:url="whoIsNissaNissa.photoUrl").img.q-mb-md
      span {{ whoIsNissaNissa.name || $t('none_selection') }}
    .column.flex.flex-center.q-mt-lg(v-if="whoWillBeKing")
      .text-subtitle1.text-bold.text-center {{ $t('king') }}
      LoadImage(:url="whoWillBeKing.photoUrl").img.q-mb-md
      span {{ whoWillBeKing.name || $t('none_selection') }}
    .column.flex.flex-center.q-mt-lg(v-if="whoWillKillCersei")
      .text-subtitle1.text-bold.text-center {{ $t('kill_cersei') }}
      LoadImage(:url="whoWillKillCersei.photoUrl").img.q-mb-md
      span {{ whoWillKillCersei.name || $t('none_selection') }}
  .row.flex.flex-center
    bet-list(:characters='currentCharacters').col-12
  RandomQuote.q-py-xl
</template>

<script>
import { mapGetters } from 'vuex';
import BetList from 'src/components/BetList';
import LoadImage from 'src/components/LoadImage.vue';
import RandomQuote from 'src/components/RandomQuote.vue';

export default {
  name: 'Profile',
  components: {
    BetList,
    LoadImage,
    RandomQuote,
  },

  computed: {
    ...mapGetters('bet', [
      'bet',
      'betCharacters',
    ]),
    ...mapGetters('character', ['characters']),

    user() {
      return this.$firebase.auth().currentUser;
    },
    whoIsAzorAhai() {
      const id = this.bet.whoIsAzorAhai;
      if (id === 'none') return this.fallbackAnswer;
      const data = this.findCharacter(id);
      return data;
    },
    whoIsNissaNissa() {
      const id = this.bet.whoIsNissaNissa;
      if (id === 'none') return this.fallbackAnswer;
      const data = this.findCharacter(id);
      return data;
    },
    whoWillBeKing() {
      const id = this.bet.whoWillBeKing;
      if (id === 'none') return this.fallbackAnswer;
      const data = this.findCharacter(id);
      return data;
    },

    whoWillKillCersei() {
      const id = this.bet.whoWillKillCersei;
      if (id === 'none') return this.fallbackAnswer;
      const data = this.findCharacter(id);
      return data;
    },

    betExists() {
      return Boolean(this.bet.userId);
    },

    currentCharacters() {
      return this.characters.map((char) => {
        const data = this.betCharacters.find(c => c.id === char.id);
        if (data) return Object.assign({}, char, { isAlive: data.isAlive });
        return Object.assign({}, char, { isAlive: null });
      });
    },
  },

  mounted() {
    this.$q.loading.hide();
  },

  data: () => ({
    fallbackAnswer: {
      photoUrl: 'statics/fallback.jpg',
      name: '',
    },
  }),

  methods: {
    findCharacter(id) {
      return this.characters.find(c => c.id === id);
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~quasar-variables';

.profile
  background $background
  color white
  .img
    height 10vh
    width auto
    border-radius 50%
.answers
  .item
    width 100%
  .img
    width 100px
    height 100px
    object-fit cover
    border-radius 50%
</style>
