<template lang="pug">
  q-page(padding)
    .text-h3.text-center.q-my-md.text-white Ranking ZRP
    .row
      .col-12.flex.flex-center.q-my-md(v-if="gifUrl")
        LoadImage(
          :url="gifUrl"
          @click.native="getGiphy"
        ).gif
      .col-12.flex.justify-center
        RankingList(
          :bets="zrpBets"
        )
      .col-12.flex.justify-center
        PointsRulesList
      .col-12
        .small.text-center.text-white Não confio em ninguem que tem acesso ao banco.
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import RankingList from 'src/components/RankingList';
import PointsRulesList from 'src/components/PointsRulesList';
import LoadImage from 'src/components/LoadImage';

export default {
  name: 'ZrpRanking',

  components: {
    RankingList,
    PointsRulesList,
    LoadImage,
  },
  computed: {
    ...mapGetters('ranking', [
      'zrpBets',
    ]),
  },

  data() {
    return {
      gifUrl: '',
    };
  },

  methods: {
    ...mapActions('ranking', [
      'getZrpBets',
    ]),

    async getGiphy() {
      try {
        const res = await fetch(
          'https://api.giphy.com/v1/gifs/random?api_key=FHIOubgHg18xN7EJfXE71pZIPVPq2w2t&tag=game of thrones',
          { mode: 'cors' },
        );
        const { data } = await res.json();
        this.gifUrl = data.images.downsized_medium.url;
      } catch (err) {
        this.$log.error(err);
        this.$q.notify('No Gifs');
      }
    },
  },

  async beforeMount() {
    if (this.zrpBets.length) return;

    try {
      await this.getZrpBets();
    } catch (err) {
      this.$log.error(err);
      this.$q.notify('Something happens, try again');
    } finally {
      this.$q.loading.hide();
    }
  },

  async mounted() {
    await this.getGiphy();
  },
};
</script>

<style lang="stylus" scoped>
@import '~quasar-variables'

.small
  font-size: 0.1em

.gif
  max-width 400px
  max-height 250px

.q-page
  background $background
</style>
