<template lang="pug">
.bet-list.column
  span.text-center.q-pt-sm.text-subtitle1.text-bold {{ $t('yoursGuess') }}
  .character-list
    character(v-for='char in characters'
              :key='char.id'
              :name='char.name'
              :photoUrl='char.photoUrl'
              :isAlive='char.isAlive').q-my-sm
</template>

<script>
import Character from './Character';

export default {
  name: 'BetList',
  components: {
    Character,
  },
  props: {
    characters: { type: Array, required: true },
  },
  data: () => ({
  }),
  computed: {
  },
  methods: {
  },
};
</script>

<style lang='stylus' scoped>
.bet-list
  max-width 550px
  display grid
  grid-template-rows 30px 70vh
  .character-list
    overflow auto
    max-height 100%
</style>
