<template lang="pug">
.card(v-if='showing'
      :class='{ animated: animating, current: current }'
      :style='{ transform: returnTransformString }')
  .image(:style='{ backgroundImage: returnImageString }')
    .image-icon(:class='icon.type', :style='{ opacity: icon.opacity }')
  h1.name {{ fullname }}
</template>

<script>
export default {
  name: 'Card',
  components: {
  },
  props: {
    current: { type: Boolean, required: true },
    fullname: { type: String, required: true },
    picture: { type: String, required: false },
    approved: { type: Boolean },
  },
  data: () => ({
    showing: true,
    maxStars: 5,
    animating: true, // Controls CSS class with transition declaration
    threshold: window.innerWidth / 2, // Breakpoint distance to approve/reject a card
    maxRotation: 20, // Max rotation value in degrees
    position: { x: 0, y: 0, rotation: 0 },
    icon: { opacity: 0, type: null },
  }),
  computed: {
    returnImageString() {
      return `url(${this.picture})`;
    },
    returnTransformString() {
      const { animating, approved, position: { x, y, rotation } } = this;

      if (!animating || approved !== null) {
        return `translate3D(${x}px, ${y}px, 0) rotate(${rotation}deg)`;
      }

      return null;
    },
  },
  mounted() {
    interact(this.$el).draggable({
      inertia: false,
      // eslint-disable-next-line
      onstart: () => this.animating = false, // Disable CSS transitions during dragging
      onmove: ({ dx, dy }) => {
        /*
          Calculate new x and y coordinate values from the local value and
          the event object value. Also adjust element rotation transformation
          based on proximity to approve/reject threshold.
        */
        const {
          position, maxRotation, threshold, icon,
        } = this;

        const offsetX = (position.x || 0) + dx;
        const offsetY = (position.y || 0) + dy;

        position.x = offsetX;
        position.y = offsetY;

        position.rotation = maxRotation * (offsetX / threshold);
        if (position.rotation > maxRotation) {
          position.rotation = maxRotation;
        } else if (position.rotation < -maxRotation) {
          position.rotation = -maxRotation;
        }

        /*
          Change icon image type based on drag direction and adjust opacity
          from 0-1 based on current rotation amount. Also emit an event to
          show/hide respective button below cards during dragging.
        */
        icon.type = 'match';
        if (position.rotation < 0) {
          icon.type = 'pass';
        }

        const opacityAmount = Math.abs(position.rotation) / maxRotation;
        icon.opacity = opacityAmount;
        this.$emit('draggedActive', icon.type, opacityAmount);
      },
      onend: () => {
        /*
          Check if card has passed the approve/reject threshold and emit approval
          value change event, otherwise reset card and icon to default values.
        */
        const { icon, position, threshold } = this;

        this.animating = true;

        icon.opacity = 1;
        if (position.x > threshold) {
          this.$emit('draggedthreshold', true);
        } else if (position.x < -threshold) {
          this.$emit('draggedthreshold', false);
          icon.opacity = 1;
        } else {
          position.x = 0;
          position.y = 0;
          position.rotation = 0;
          icon.opacity = 0;
        }

        this.$emit('draggedEnded');
      },
    });
  },
  watch: {
    approved() {
      const {
        approved, $el, position, maxRotation, icon,
      } = this;

      if (approved !== null) {
        // Remove interact listener to prevent further dragging
        interact($el).unset();
        this.animating = true;

        /*
          Move card off-screen in direction of approve/reject status,
          then remove it from the DOM, thereby adjusting the CSS
          nth-child selectors.
        */

        const x = window.innerWidth + (window.innerWidth / 2) + $el.offsetWidth;

        position.x = x;
        position.rotation = maxRotation;
        icon.type = 'match';

        if (!approved) {
          position.x = -x;
          position.rotation = -maxRotation;
          icon.type = 'pass';
        }

        icon.opacity = 1;

        // eslint-disable-next-line
        setTimeout(() => this.showing = false, 200);
      }
    },
  },
};
</script>

<style lang='stylus' scoped>
$cardsTotal = 3
$cardsWidth = 300px
$cardsHeight = 400px
$cardsPositionOffset = 10px
$cardsScaleOffset = .02

$colour-white = #FFF
$colour-orange = #F0A435
$colour-grey = #6E6E6E
$colour-text = #444
$colour-background = #F3F3F3

$defaultTranslation = $cardsPositionOffset * $cardsTotal
$defaultScale = 1 - ($cardsScaleOffset * $cardsTotal)

.card
  color #777
  pointer-events: none
  z-index: 0
  opacity: 0
  left: 0
  top: 0
  position: absolute
  padding: 15px 15px 30px
  width: $cardsWidth
  height: $cardsHeight
  border-radius: 8px
  background: $colour-white
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  transform: translateY($defaultTranslation) scale($defaultScale)
  transform-origin: 50% 100%
  will-change: transform, opacity
  // Cascade the cards by translation and scale based on their nth-child index
  for $i in (1)..($cardsTotal)
    $index = $i - 1
    $translation = $cardsPositionOffset * $index
    $scale = 1 - $cardsScaleOffset * $index
    &:nth-child({$i})
      opacity: 1
      z-index: ($cardsTotal - $index)
      transform: translateY($translation) scale($scale)
  &.current
    pointer-events: auto
  &.animated
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
  .image
    margin: 0 auto 30px 0
    width: ($cardsWidth - 15px * 2)
    height: ($cardsWidth - 15px * 2)
    background: center center no-repeat transparent;
    background-size: contain;
    $imageIconSize = 200px
    .image-icon
      position: relative
      left: 50%
      top: 50%
      width: $imageIconSize
      height: $imageIconSize
      transform: translateX(-50%) translateY(-50%)
      background: center center no-repeat transparent
      background-size: contain
      &.match
        background-image: url("~src/assets/flame.svg")
      &.pass
        background-image: url("~src/assets/snowflake.svg")
  .name
    margin: 0 auto 30px 0
    display: block
    font-size: 24px
    line-height: 24px
    text-align: center
    text-transform: capitalize
</style>
