<template lang="pug">
q-card.character.row.items-center.q-py-sm
  div(v-if="isAlive !== null").col-2.column.flex-center
    q-icon(size='sm'
           :name='iconName'
           :color='iconColor')
    .text-caption {{ iconLabel }}
  div(v-else).col-2.column.flex-center
    q-icon(size='sm'
           name='far fa-question-circle'
           color='yellow')
    .text-caption.text-center {{ $t('notVoted') }}
  .col-3.row.items-center.justify-center
    LoadImage(:url="photoUrl").profile-img
  .col-7
    .q-title {{ name }}
</template>

<script>
import LoadImage from './LoadImage.vue';

export default {
  name: 'Character',
  components: {
    LoadImage,
  },
  props: {
    photoUrl: { type: String, required: true },
    name: { type: String, required: true },
    isAlive: { required: true },
  },
  data: () => ({
  }),
  computed: {
    iconName() {
      return this.isAlive ? 'fas fa-fire' : 'fas fa-snowflake';
    },
    iconColor() {
      return this.isAlive ? 'red' : 'blue';
    },
    iconLabel() {
      return this.isAlive ? this.$t('alive') : this.$t('dead');
    },
  },
  methods: {
  },
};
</script>

<style lang='stylus' scoped>
.character
  background #272728
.profile-img
  width 50px
  height 50px
  object-fit cover
  border-radius 50%
</style>
