<template lang="pug">
q-img.profile-img(
  :src='url'
  spinner-color="white"
)
  template(v-slot:loading)
    q-spinner-gears(color="white" :size="35")
  template(v-slot:error)
    img(src="statics/fallback.jpg")
</template>

<script>
export default {
  name: 'LoadImage',

  props: {
    url: {
      type: String,
      required: true,
    },
  },
};
</script>

<style>

</style>
