<template lang="pug">
.column.flex-center.q-pa-md()
  .q-my-lg.text-center.text-white {{ $t('points_message')}}
  q-list(separator style="width: 250px")
    q-item(v-for="rule, index of rules" :key="index").background
      q-item-section.text-white {{ rule.title }}
      q-item-section(:side="true").text-white.text-bold
       | {{ rule.points }} {{ $t('points')}}
</template>

<script>
export default {
  name: 'PointsRulesList',
  data() {
    return {
      rules: [{
        title: this.$t('alive'),
        points: 200,
      },
      {
        title: this.$t('dead'),
        points: 100,
      },
      {
        title: this.$t('king_title'),
        points: 400,
      },
      {
        title: this.$t('killed_cersei'),
        points: 500,
      },
      {
        title: 'Azor Ahai',
        points: 300,
      },
      {
        title: 'Nissa Nissa',
        points: 300,
      }],
    };
  },
  computed: {
  },
  methods: {
  },
};
</script>

<style lang='stylus' scoped>
.background
  background #272728
</style>
