<template lang="pug">
  .text-center.text-bold.text-white(
    @click="getQuote"
  ) {{ quote }}
</template>

<script>
import quotes from 'src/helpers/quotes';

export default {
  data() {
    return {
      quote: '',
    };
  },

  beforeMount() {
    this.getQuote();
  },

  methods: {
    getQuote() {
      this.quote = quotes[Math.floor(Math.random() * quotes.length)];
    },
  },
};
</script>

<style>

</style>
