<template lang="pug">
.bet-list.column
  span.text-center.text-white.q-pt-sm {{ message }}
  .character-list.flex.justify-center
    transition-group(
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut")
      RankingItem(v-for='bet in bets'
                :key='bet.userId'
                :name='bet.displayName'
                :photoUrl='bet.photoURL'
                :points='bet.points').q-my-sm
  slot
</template>

<script>
import RankingItem from './RankingItem';

export default {
  name: 'RankingList',
  components: {
    RankingItem,
  },
  props: {
    bets: { type: Array, required: true },
    message: { type: String },
  },
  data: () => ({
  }),
  computed: {
  },
  methods: {
  },
};
</script>

<style lang='stylus' scoped>
.bet-list
  max-width 400px
  min-width 238px
  min-height 777px
</style>
