<template lang="pug">
  q-page(padding)
    .text-center.text-bold {{ $t('bet_completed')}}
    .text-h3.text-center.q-my-md Ranking
    .row
      .col-12.flex.justify-center.q-mb-lg
        q-btn.text-bold(
          color="green"
          icon="share"
          :label="$t('share')"
          @click="handleShare"
        )
          q-menu(
            ref="shareMenu"
            no-parent-event
            fit
            :offset="[8, 8]"
            anchor="bottom middle"
            self="top middle")
            .row.flex.justify-around
              q-btn(
                icon="fab fa-twitter"
                color="light-blue-4"
                flat
                size="lg"
                type="a"
                target="_blank"
                :href="twitterUrl"
              )
              q-btn(
                icon="fab fa-facebook"
                color="light-blue-9"
                flat
                size="lg"
                type="a"
                target="_blank"
                :href="facebookUrl"
              )
      .col-12.flex.justify-center
        span.q-mb-md.text-center {{ $t('rankingMessage') }}
      .col-xs-12.col-md-6.flex.justify-center
        RankingList.relative-position(
          message="Top 10"
          :bets="bets"
        )
          .flex.justify-center
            q-btn.text-white.load-more.q-mt-md.text-bold(
              color="grey-8"
              :label="$t('load_more')"
              @click="loadBets"
              :loading="loading"
            )
      .col-xs-12.col-md-6.flex.justify-center
        PointsRulesList
      .col-xs-12.col-md-6.flex.justify-center
        q-btn(
          flat
          size="sm"
          label="ZRP"
          @click="$router.push({ name: 'zrp' })"
        )
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import RankingList from './RankingList';
import PointsRulesList from './PointsRulesList';

export default {
  name: 'Ranking',

  components: {
    RankingList,
    PointsRulesList,
  },

  computed: {
    ...mapGetters('ranking', [
      'bets',
    ]),

    isMobile() {
      return this.$q.platform.is.mobile;
    },
  },

  data() {
    return {
      loading: false,
      twitterUrl: `https://twitter.com/intent/tweet?text=${this.$t('shareMessage')}&url=https://gotchallenge.app&hashtags=GameOfThrones,GoT,gotchallenge`,
      facebookUrl: 'https://www.facebook.com/dialog/share?app_id=982911595237532&display=popup&href=https://gotchallenge.app&redirect_uri=https://gotchallenge.app',
    };
  },

  methods: {
    ...mapActions('ranking', [
      'getBets',
    ]),

    async handleShare() {
      if (this.isMobile && navigator.share) {
        try {
          await navigator.share({
            title: 'GoT Challenge',
            text: this.$t('shareMessage'),
            url: 'https://gotchallenge.app',
          });
        } catch {
          this.$log.error('Something happens');
        }
      } else {
        this.$refs.shareMenu.show();
      }
    },

    async loadBets() {
      try {
        this.loading = true;
        await this.getBets();
      } catch (err) {
        this.$log.error(err);
        this.$q.notify('Something happens, try again');
      } finally {
        this.loading = false;
        this.$q.loading.hide();
      }
    },
  },

  async beforeMount() {
    if (this.bets.length) return;

    await this.loadBets();
  },
};
</script>

<style lang="stylus">
.load-more
  width 300px
</style>
