<template lang="pug">
q-card.character
  .row.items-center.q-py-sm.q-px-md
    .col-4.flex.flex.center
      LoadImage(:url='photoUrl').profile-img
    .col-8
      .q-title.text-white {{ name }}
      .q-title.text-bold.text-white {{ points }} {{ $t('points')}}
</template>

<script>
import LoadImage from './LoadImage.vue';

export default {
  name: 'RankingItem',
  components: {
    LoadImage,
  },
  props: {
    photoUrl: { type: String, required: true },
    name: { type: String, required: true },
    points: { required: true },
  },
  data: () => ({
  }),
  computed: {
  },
  methods: {
  },
};
</script>

<style lang='stylus' scoped>
.character
  width 300px
  background #272728
.profile-img
  width 50px
  height 50px
  object-fit cover
  border-radius 50%
</style>
