<template lang="pug">
  .row.q-gutter-xs
    .col-12.q-my-md
      .row.flex.justify-around.text-white
        .col-xs-12.col-sm-4.q-my-md
          .column.flex.flex-center
            .text-h2 {{ stats.betsCount }}
            .text-h6 {{ $t('bets')}}
        .col-xs-12.col-sm-4.q-my-md.flex.flex-center
          .column
            .text-center.q-mb-sm {{ $t('make_your_choices')}}
            q-btn.q-mt-sm(
              dark
              color="green"
              :label="$t('start')"
              size="lg"
              @click="$router.push({ name: 'app' })"
            )
        .col-xs-12.col-sm-4.q-my-md
          .column.flex.flex-center
            .text-h2 {{ stats.charactersVotesCount }}
            .text-h6 {{ $t('choices')}}
    .col-12
      .row.flex.justify-around
        .col-xs-12.col-sm-4.flex.justify-center.stats-list.q-my-md
          .text-h6.text-white.text-center {{ $t('most_killed')}}
          StatsItem.q-my-sm(
            v-for="character in mostKilledCharacters"
            :key="character.id"
            :character="findCharacterData(character)"
          )
        .col-xs-12.col-sm-4.flex.justify-center.stats-list.q-my-md
          .text-h6.text-white.text-center {{ $t('most_saved')}}
          StatsItem.q-my-sm(
            v-for="character in mostSavedCharacters"
            :key="character.id"
            :character="findCharacterData(character)"
          )
    .col-12
      .row.flex.justify-around
        .col-xs-12.col-sm-6.flex.justify-center.stats-list.q-my-md
          .text-h6.text-white.text-center {{ $t('king')}}
          StatsItem.q-my-sm(
            v-for="character in whoWillBeKing"
            :key="character.id"
            :character="findCharacterData(character)"
            validationKey="isKing"
          )
        .col-xs-12.col-sm-6.flex.justify-center.stats-list.q-my-md
          .text-h6.text-white.text-center {{ $t('kill_cersei')}}
          StatsItem.q-my-sm(
            v-for="character in whoWillKillCersei"
            :key="character.id"
            :character="findCharacterData(character)"
            validationKey="killedCersei"
          )
      .col-12
        .row.flex.justify-around
          .col-xs-12.col-sm-6.flex.justify-center.stats-list.q-my-md
            .text-h6.text-white.text-center {{ $t('nissa_nissa')}}
            StatsItem.q-my-sm(
              v-for="character in whoWillBeNissaNissa"
              :key="character.id"
              :character="findCharacterData(character)"
              validationKey="isNissaNissa"
            )
          .col-xs-12.col-sm-6.flex.justify-center.stats-list.q-my-md
            .text-h6.text-white.text-center {{ $t('azor_ahai')}}
            StatsItem.q-my-sm(
              v-for="character in whoWillBeAzorAhai"
              :key="character.id"
              :character="findCharacterData(character)"
              validationKey="isAzorAhai"
            )
      .col-12.text-center.q-py-md
        span.q-mb-md.text-white.text-bold {{ $t('rankingMessage') }}
</template>

<script>
import { mapGetters } from 'vuex';

import StatsItem from './StatsItem';

export default {
  components: {
    StatsItem,
  },
  computed: {
    ...mapGetters('stats', [
      'stats',
      'mostKilledCharacters',
      'mostSavedCharacters',
      'whoWillBeNissaNissa',
      'whoWillBeAzorAhai',
      'whoWillBeKing',
      'whoWillKillCersei',
    ]),

    ...mapGetters('character', [
      'characters',
    ]),
  },

  data() {
    return {
      noneSelection: {
        name: '',
        photoUrl: 'statics/fallback.jpg',
        isAlive: true,
        isNissaNissa: true,
        isAzorAhai: true,
        killedCersei: false,
        isKing: false,
      },
    };
  },

  methods: {
    findCharacterData(character) {
      const data = this.characters.find(char => char.id === character.id);
      const percentage = ((character.count / this.stats.betsCount) * 100).toFixed(0);
      if (!data) return { ...this.noneSelection, ...character, percentage };
      return { ...data, ...character, percentage };
    },
  },
};
</script>

<style lang="stylus" scoped>
.small-card
  max-width 250px
.stats-list
  width 290px
</style>
