<template lang="pug">
  q-card.card
    .row.q-pa-sm
      .col-4.flex.flex-center
        LoadImage.character-img(
          :url="character.photoUrl"
          :class="!character.isAlive ? 'dead' : ''"
        )
      .col-8
        .row
          .col-11
            .text-bold {{ character.name || $t('none_selection') }}
            div {{ character.count }} {{ $t('tips') }} - {{ character.percentage }} %
          .col-1.flex.flex-center(v-if="rightGuess")
            q-icon(
              size="25px"
              name="check_circle"
              color="green"
            )
</template>

<script>
import LoadImage from './LoadImage';

export default {
  props: {
    character: {
      required: true,
      type: Object,
    },
    validationKey: String,
  },

  components: {
    LoadImage,
  },

  computed: {
    rightGuess() {
      return this.character[this.validationKey];
    },
  },
};
</script>

<style lang="stylus">
.card
  width 300px
  background #272728
  color white
.character-img
  width 50px
  height 50px
  object-fit cover
  border-radius 50%
.dead
  -webkit-filter: grayscale(1);
  filter grayscale(1)
</style>
