<template lang="pug">
div(id='q-app')
  transition(
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut")
    .offline.text-center.text-weight-medium.bg-white.q-px-xs(v-if='offline')
      small.text-black {{ $t('offline')}}
  router-view
</template>

<script>

export default {
  name: 'App',
  mounted() {
    this.$i18n.locale = this.$q.lang.getLocale();

    /* eslint-disable */
    console.log(`%c ________________________________________
    < uuuuuur duh i can hack some shits >
    ----------------------------------------
            \\   ^__^
            \\  (oo)\\_______
                (__)\\       )\\/\\
                    ||----w |
                    ||     ||`, "font-family:monospace");
    /* eslint-enable */
  },

  created() {
    this.updateStatus();
    this.addEventHandlers();
  },

  data() {
    return {
      offline: false,
    };
  },

  methods: {
    updateStatus() {
      this.offline = !navigator.onLine;
    },

    addEventHandlers() {
      window.addEventListener('online', this.updateStatus);
      window.addEventListener('offline', this.updateStatus);
    },
  },
};
</script>

<style scoped>
.offline {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9500;
}
</style>

<style>
/* Transitions */

.next-leave-to {
  animation: leaveToLeft 100ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
}

.next-enter-to {
  animation: enterFromRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.prev-leave-to {
  animation: leaveToRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.prev-enter-to {
  animation: enterFromLeft 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
}

@keyframes leaveToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
}

@keyframes enterFromLeft {
  from {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes leaveToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes enterFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
</style>
