<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="keywords" content="got,game of thrones,challenge,night king,jon snow,cersei,hbo">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

    <meta property="og:locale" content="pt_BR">
    <meta property="og:locale:alternate" content="en_US">
    <meta property="og:url" content="https://gotchallenge.app/">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.productName %>">
    <meta property="og:site_name" content="GoT Challenge">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/got-challenge.appspot.com/o/statics%2Fgotchal3-600x400.png?alt=media">
    <meta property="og:updated_time" content="1555818048">
    <meta property="fb:app_id" content="982911595237532"/>
    <meta name="apple-mobile-web-app-title" content="https://gotchallenge.apṕ/">

    <meta name="msapplication-TileColor" content="#39383D">
    <meta name="theme-color" content="#39383D">

    <link rel="icon" href="statics/icons/favicon.ico" type="image/x-icon">

    <link rel="apple-touch-icon" sizes="57x57" href="statics/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="statics/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="statics/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="statics/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="statics/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="statics/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="statics/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="statics/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="statics/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="statics/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="statics/icons/ms-icon-144x144.png">

    <script async src='https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js'></script>

    <% if (!htmlWebpackPlugin.options.ctx.dev) { %>  
      <!-- Google Analytics -->
      <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-138612104-1', 'auto');
      ga('send', 'pageview');
      </script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
      <!-- End Google Analytics -->

      <script>
        !function(n,e){var t,o,i,c=[],f={passive:!0,capture:!0},r=new Date,a="pointerup",u="pointercancel";function p(n,c){t||(t=c,o=n,i=new Date,w(e),s())}function s(){o>=0&&o<i-r&&(c.forEach(function(n){n(o,t)}),c=[])}function l(t){if(t.cancelable){var o=(t.timeStamp>1e12?new Date:performance.now())-t.timeStamp;"pointerdown"==t.type?function(t,o){function i(){p(t,o),r()}function c(){r()}function r(){e(a,i,f),e(u,c,f)}n(a,i,f),n(u,c,f)}(o,t):p(o,t)}}function w(n){["click","mousedown","keydown","touchstart","pointerdown"].forEach(function(e){n(e,l,f)})}w(n),self.perfMetrics=self.perfMetrics||{},self.perfMetrics.onFirstInputDelay=function(n){c.push(n),s()}}(addEventListener,removeEventListener);
        perfMetrics.onFirstInputDelay((delay, evt) => {
          ga('send', 'event', {
            eventCategory: 'Perf Metrics',
            eventAction: 'first-input-delay',
            eventLabel: evt.type,
            eventValue: Math.round(delay),
            nonInteraction: true,
          });
        });
      </script>
    <% } %>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>

    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
  </body>
</html>
