<template lang="pug">
q-layout(view='hhh lpR fff')
  q-header
    q-toolbar.row
      div.col-6.row.items-start
        q-btn(round
              flat
              color="white"
              icon="fas fa-sign-out-alt"
              title="Logout"
              v-show="$route.name === 'profile'"
              @click="signOut")
        q-btn(flat
              dense
              round
              v-show="$route.name === 'app'"
              title="Profile"
              @click='$router.push({ name: "profile" })'
              aria-label='Menu')
          q-icon(name='person' color="white")
      div.col-6.row.justify-end
        q-btn(flat
              dense
              round
              v-show="$route.name === 'profile'"
              title="Ranking"
              @click='$router.push({ name: "home" })'
              aria-label='Menu')
          q-icon(name='menu' color="white")
  q-page-container
    transition(:name="transitionName")
      router-view
  q-footer.footer.q-pb-md
    .text-center Made with ❤ in Brazil
</template>

<script>

export default {
  name: 'LoggedLayout',
  data() {
    return {
      transitionName: '',
    };
  },
  mounted() {
    this.$q.loading.hide();
  },
  methods: {
    signOut() {
      this.$firebase.auth().signOut();
      this.$router.push({ name: 'home' });
    },
  },
  watch: {
    $route(to, from) {
      this.transitionName = to.meta.page > from.meta.page ? 'next' : 'prev';
    },
  },
};
</script>

<style>
.q-page-container {
  min-height: 100%;
  display: grid;
  grid-template: "main";
  flex: 1;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

.q-page-container > * {
  grid-area: main; /* Transition: make sections overlap on same cell */
  position: relative;
}

.q-page-container > :first-child {
  z-index: 1; /* Prevent flickering on first frame when transition classes not added yet */
}
</style>

<style lang="stylus">
@import '~quasar-variables'

.q-toolbar, .footer
  background $background
</style>
