<template lang="pug">
q-layout(view='hhh lpR fff')
  q-header
    q-toolbar.row
      .col-12.flex.justify-end
        q-btn(
          v-show="$route.name !== 'home'"
          flat
          label="Home"
          @click="$router.push({ name: 'home'} )"
        )
        q-btn(
          v-show="$route.name === 'home'"
          flat
          label="login"
          @click="$router.push({ name: 'login'} )"
        )
  q-page-container
    transition(:name="transitionName")
      router-view
  q-footer.footer.q-pb-md
    .text-center Made with ❤ in Brazil
</template>

<script>

export default {
  name: 'PublicLayout',
  data() {
    return {
      transitionName: '',
    };
  },

  watch: {
    $route(to, from) {
      this.transitionName = to.meta.page > from.meta.page ? 'next' : 'prev';
    },
  },
};
</script>

<style>
.q-page-container {
  min-height: 100%;
  display: grid;
  grid-template: "main";
  flex: 1;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

.q-page-container > * {
  grid-area: main; /* Transition: make sections overlap on same cell */
  position: relative;
}

.q-page-container > :first-child {
  z-index: 1; /* Prevent flickering on first frame when transition classes not added yet */
}
</style>

<style lang="stylus">
@import '~quasar-variables'

.q-toolbar, .footer
  background $background
</style>
